@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    
    
}





/* Nav Css */



.nav-section{
    
    
    margin: 0 auto;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    
    
}

.nav-logo-img{
    width: 70px;
    height: 40px;
    margin-right: 5px;
}

.nav-logo-name{
    text-align: center;
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;

}

.nav-logo{
    display: flex;
}

.nav-section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
   
}

.nav-section a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
}

.nav-section i {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
}

.special-span{
    background-color: #E7E6E9;
    padding: 10px 30px;
    border-radius: 5px;
}

.nav-menus{
    display: flex;
    align-items: center;
}

/* NAV CSS END */

/* BANNER CSS START */

.banner{
    background-color: #FDF7FD;
}
.banner-section{
        width: 100%;
        margin: 0 auto;
        min-height: 100px;
        
        padding: 100px 100px 0px;
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        
}

.banner-heading{
    text-transform: uppercase;
    font-size: 48px;
}

.banner-goat{
    font-size: 95px;
    background-image: linear-gradient(to bottom,#F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.banner-title{
    width: 30%;
    margin-top: 80px;
}

.banner-title > ul > li {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-top: 5px;
}

.sign-in-btn{
    background-color: #FF42A5;
    padding: 16px 50px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.rongue-btn{
    background-color: #97D3FF;
    padding: 16px 50px;
    border: none;
    border-radius: 45px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
}

.banner-img{
    width: 50%;
    
}

.banner-img img{
    width: 500px;
    
}

/* BANNER CSS ENDS */

/* ONLINE GAMING CSS */

.online-gaming{
    max-width: 1400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    min-height: 200px;
    
}

.box > img{
    width: 300px;
}

.online-gaming-heading{
    font-size: 60px;
    font-weight: 600;
    font-family: work sans;

}

.ogh-span{
    background-image: linear-gradient(to bottom,#F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}

.online-gaming-title{
    font-size: 30px;
    color: #534C64;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.box > p{
    font-size: 20px;
}

.image-container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-img{
    position: relative;
    
}
.sub-img{
    position: absolute;
    top: 330px;
    left: 490px;
}

.image-texts{
    text-align: center;
    margin-left: 150px;
}

.online-play{
    background-image: linear-gradient(to bottom,#F948B2,#8758F1);
    color: transparent;
    -webkit-background-clip: text;
}


.rct-section{
    background-color: #FFF9FC;
    margin-top: 40px;
    padding: 100px 0px;
}
.rct-div{
    
   
        width: 100%;
        margin: 0 auto;
        min-height: 100px;
        max-width: 1400px;
    
    
    
}

.all-btn-boxes{
    min-height: 100px;
    display: flex;
    align-items: center;
    margin-left: 220px;
    gap: 10px;
    border: none;
    
}

.all-btn-boxes-two{
    
    display: flex;
    align-items: center;
    margin-left: 290px;
    gap: 10px;

}

.btn-primary{
    
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius:  30px;
    padding: 5px;
    border: none;
    background-color: white;
    font-weight: 600;
    
   
}

.btn-primary:hover{
    
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius:  30px;
    padding: 5px;
    border: 2px solid #FF42A5;
    background-color: white;
    color: #FF42A5;
    font-weight: 600;
    cursor: pointer;
    
   
}

.btn-primary img {
    width: 30px;
}

.button{
    margin-left: 50px;
}

/* FOOTER SECTION CSS */


.footer-section{
    background-color: #0B0223;
    min-height: 70vh;
    padding-bottom: 80px;
    
}

.footer-container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.footer-titles{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
}

.footer-p{
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.footer-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    gap: 30px;
}

.footer-btn button{
    border: none;
    
}

.footer-btn i{
    
    
    cursor: pointer;
    font-size: 50px;
    color: white;
    background-color: #0B0223;
    
    
}

.footer-terms-part{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}

.footer-terms-part p {
    color: #9D9AA7;
    margin-right: 20px;
}

.footer-last{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.footer-last p {
    color: #9D9AA7;
    
}